<template>
    <div class="mx-3">
        <br />
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <p class="m-0 text-dark h1 font-weight-medium">AGENDA</p>
                    <p class="text-muted"> DIARY</p>
                  </div>
                </div>
            </div>
        </div>
        <v-row>
            <v-col cols="12">
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn @click="showModal('CREAR',null)"  v-bind="attrs" v-on="on" :color="'#548dbf'" class="text-white">
                        <v-icon>mdi-plus</v-icon>
                        Agregar
                        </v-btn>
                    </template>
                    <span>Agregar cita</span>
                </v-tooltip>
            </v-col>
        </v-row>
        <br>
        <v-sheet height="600">
            <v-calendar
                ref="calendar"
                v-model="value"
                :type="type"
                :events="events"
                :event-overlap-mode="mode"
                :event-overlap-threshold="30"
                :event-color="getEventColor"
                @change="getPedidos"
                @click:event="showEvent"
            ></v-calendar>
            <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>
                <v-card  color="grey lighten-4"   min-width="350px" flat  >
                <v-toolbar :color="selectedEvent.color" dark>
                    <v-btn @click="showModal('EDITAR',selectedEvent.pedi_id)" icon>
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <span v-html="selectedEvent.details"></span>
                </v-card-text>
                <v-card-actions>
                    <v-btn text color="secondary" @click="selectedOpen = false" >
                        Cancel
                    </v-btn>
                </v-card-actions>
                </v-card>
            </v-menu>
        </v-sheet>

        <!-- modal agregar o editar cita  -->
        <v-dialog v-model="modal_pedido" persistent  transition="dialog-top-transition" max-width="600">
            <v-card>
                <v-toolbar :color="'#548dbf'" dark>{{accion}} CITA</v-toolbar>
                <v-card-text>
                <v-form v-model="valid" ref="form_pedido" class="mt-5">
                    <!-- fecha  -->
                    <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Fecha pedido</label>
                    <v-text-field type="date" v-model="pedido.fecha_pedido" :rules="validacion.requerido" solo ></v-text-field>
                    <!-- producto  -->
                    <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Producto</label>
                    <v-select v-model="pedido.prod_id" :items="opc_productos" :rules="validacion.requerido" solo dense></v-select>
                    <!-- cantidad  -->
                    <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Cantidad</label>
                    <v-text-field type="number" v-model="pedido.cantidad" :rules="validacion.requerido" solo placeholder="Nombre"></v-text-field>
                    <!-- total -->
                    <h3>Total: {{total}}</h3>
                </v-form>
                </v-card-text>
                <v-card-actions class="justify-end">
                    <v-btn class="red--text" :disabled="btn_disabled" text @click="hidenModal">Cerrar</v-btn>
                    <v-btn color="#548dbf" :disabled="btn_disabled" dark @click="saveOrEdit()">{{accion}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import Pedido from '@/Models/Pedido';
    import RulesValidate from '@/services/RulesValidate'; 
    import PedidoService from '@/services/Pedidos/PedidoService'
    import ProductoService from '@/services/Productos/ProductoService'

    export default {
        mounted() {
            this.getProductos();
        },
        data: () => ({
            pedido:'',
            accion:'',
            value: '',
            events: [],
            valid:false,
            productos:[],
            type: 'month',
            mode: 'stack',
            opc_productos:[],
            selectedEvent: {},
            producto_actual:[],
            btn_disabled:false,
            modal_pedido:false,
            selectedOpen:false,
            selectedElement: null,
            validacion:new RulesValidate,
            serv_pedido:new PedidoService(),
            serv_producto:new ProductoService(),
            colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
        }),
        computed:{
            total:function(){
                if(this.pedido.prod_id && this.pedido.fecha_pedido){
                    this.productos.forEach(element => {
                        if(element.prod_id==this.pedido.prod_id){
                            this.producto_actual=element;
                        }
                    });
                    return (this.encontrarTarifa()*this.pedido.cantidad);
                }else{
                    return 0;
                }
            }
        },
        methods: {
            getPedidos(){
                const events = []
                this.serv_pedido.getPedidos().then(resp=>{
                    this.pedidos=resp.data;
                    resp.data.forEach(element => {
                        const fecha=new Date(element.fecha_pedido);
                        fecha.setDate(fecha.getDate() + 1);
                         events.push({
                            name: `pedido-${element.pedi_id}`,
                            start: fecha,
                            end: fecha,
                            pedi_id:element.pedi_id,
                            details:`${element.producto.nombre_producto} ----- cant. ${element.cantidad}`,
                            color: this.colors[this.rnd(0, this.colors.length - 1)],
                            timed: false,
                        })
                    });
                    this.events = events
                })
            },
            getProductos(){
                this.opc_productos=[];
                this.serv_producto.getProductos().then(resp=>{
                    this.productos=resp.data;
                    resp.data.forEach(element => {
                        this.opc_productos.push({
                            value:element.prod_id,
                            text:element.nombre_producto
                        })
                    });
                })
            },
            getEventColor (event) {
                return event.color
            },
            hidenModal(){
                this.modal_pedido=false;
            },
            showEvent ({ nativeEvent, event }) {
                const open = () => {
                    this.selectedEvent = event
                    this.selectedElement = nativeEvent.target
                    setTimeout(() => {
                        this.selectedOpen = true
                    }, 10)
                }
                if (this.selectedOpen) {
                    this.selectedOpen = false
                    setTimeout(open, 10)
                } else {
                    open()
                }
                nativeEvent.stopPropagation()
            },
            showModal(accion,pedi_id){
                this.accion=accion;
                if(accion=='EDITAR'){
                    this.pedidos.forEach(element => {
                       if(element.pedi_id==pedi_id) {
                           this.pedido=element;
                       }
                    });
                }else{
                    this.pedido=new Pedido;
                }
                this.modal_pedido=true;
            },
            rnd (a, b) {
                return Math.floor((b - a + 1) * Math.random()) + a
            },
            saveOrEdit(){
                if(this.valid){
                    this.btn_disabled=true;
                    (this.accion=='CREAR') ? this.save() : this.edit();
                }else{
                    this.$refs.form_pedido.validate();
                    this.btn_disabled=false;
                }
            },
            save(){
                this.serv_pedido.savePedido(this.pedido).then(resp=>{
                  this.$swal.fire(resp.message);
                  if(resp.code==200){
                    this.getPedidos();
                    this.$refs.form_pedido.reset();
                    this.modal_pedido=false;
                  }
                  this.btn_disabled=false;
                })
            },
            edit(){
                this.serv_pedido.updatePedido(this.pedido).then(resp=>{
                  this.$swal.fire(resp.message);
                  if(resp.code==200){
                    this.getPedidos();
                    this.$refs.form_pedido.reset();
                    this.modal_pedido=false;
                  }
                  this.btn_disabled=false;
                })
            },
            encontrarTarifa(){
                const me=this;
                let precio=this.producto_actual.precio_fijo
                this.producto_actual.tarifas.forEach(tarifa => {
                    if(new Date(me.pedido.fecha_pedido)>=new Date(tarifa.fecha_inicio) &&
                        new Date(me.pedido.fecha_pedido)<=new Date(tarifa.fecha_fin)){
                        precio=tarifa.precio;
                    }
                });
                return precio;
            }
        },
    }
</script>