<template>
    <div>
        <v-overlay z-index="7" :value="$store.state.overlay">
            <v-progress-circular indeterminate size="64"
            ></v-progress-circular>
        </v-overlay>
    </div>
</template>
<script>
export default {
    name:'loading-app'
}
</script>