<template>
    <nav class="mt-4 navbar navbar-expand-lg text-white navbar-transparent">
        <a class="ml-10 navbar-brand" href="#">
            <img style="height: 70px ;" src="https://f.hubspotusercontent00.net/hubfs/8812300/blob.png">
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <v-icon class="text-white">mdi-menu</v-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <router-link to="/auth/login">
                <li class="nav-item">
                    <a  class="nav-link">
                        <span class="blue--text">Iniciar sesión</span>
                    </a>
                </li>
            </router-link>
            <router-link to="/auth/register">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="blue--text">Registrarse</span>
                    </a>
                </li>
            </router-link>
          </ul>
        </div>
      </nav>
</template>
<script>
    export default {
        name: 'nav-auth'
    }
</script>