<template>
    <div class="mx-3">
        <br>
        <br>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <p class="m-0 text-dark h1 font-weight-medium ">BIENVENIDO</p>
                        <p class=" text-muted "> WELCOME</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="cols-6 col-md-4" >
                <router-link to="productos">
                    <div class="small-box text-white bg-primary shadow">
                        <div class="inner">
                            <h3>{{cant_productos}}</h3>
                            <p>Productos</p>
                        </div>
                        <div class="icon">
                            <v-icon>mdi-package-variant</v-icon>
                        </div>
                        <a  class="small-box-footer">+ Información <v-icon :size="'1rem'" class="text-white">mdi-arrow-right-circle</v-icon></a>
                    </div>
                </router-link>
            </div>
            
            <div class="cols-6 col-md-4">
                <router-link to="categorias">
                    <div class="small-box text-white bg-secondary shadow">
                        <div class="inner">
                            <h3>{{cant_categorias}}</h3>
                            <p>Categorías</p>
                        </div>
                        <div class="icon">
                            <v-icon>mdi-shape-outline</v-icon>
                        </div>
                        <a  class="small-box-footer">+ Información <v-icon :size="'1rem'" class="text-white">mdi-arrow-right-circle</v-icon></a>
                    </div>
                </router-link>
            </div>
            <div class="cols-6 col-md-4">
                <router-link to="usuarios">
                    <div class="small-box text-white bg-danger shadow">
                        <div class="inner">
                            <h3>{{cant_usuarios}}</h3>
                            <p>Usuarios</p>
                        </div>
                        <div class="icon">
                            <v-icon>mdi-account-group-outline</v-icon>
                        </div>
                        <a  class="small-box-footer">+ Información <v-icon :size="'1rem'" class="text-white">mdi-arrow-right-circle</v-icon></a>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    import UserService from '@/services/Usuarios/UserService';
    import ProductoService from '@/services/Productos/ProductoService';
    import CategoriaService from '@/services/Categorias/CategoriaService';
    export default {
        mounted() {
            this.serv_user.getUsuarios().then(resp=>{this.cant_usuarios=resp.data.length})
            this.serv_productos.getProductos().then(resp=>{this.cant_productos=resp.data.length})
            this.serv_categoria.getCategorias().then(resp=>{this.cant_categorias=resp.data.length})
        },
        data() {
            return {
                cant_usuarios:0,
                cant_productos:0,
                cant_categorias:0,
                serv_user:new UserService(),
                serv_productos:new ProductoService(),
                serv_categoria:new CategoriaService()
            }
        },
    }
</script>
<style>
    .input,
    .button {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .a:link,
    .a:visited,
    .a:hover,
    .a:active {
        color: inherit;
        text-decoration: none;
    }
    
    .input,
    .button {
        font-family: inherit;
        font-size: large;
        color: inherit;
        border: none;
        background: none;
    }
    
    .button {
        background: none;
        cursor: pointer;
    }
    
    .input:focus,
    .button:focus,
    .a:focus {
        outline: none;
    }
    
    .button:hover,
    .input:focus,
    .button:focus,
    .button:active {
        color: #000000;
    }
    
    .input:focus {
        border-bottom: 1px solid #ddd;
    }
    
    .input:focus::placeholder {
        color: #b5b5b5;
    }
    
    @media only screen and (max-width: 600px) {
        .input {
            width: 100px;
        }
    }
    
    .img-box .text-overlay {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .small-box {
        border-radius: 0.25rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        display: block;
        margin-bottom: 20px;
        position: relative;
    }
    
    .small-box>.inner {
        padding: 10px;
    }
    
    .small-box>.small-box-footer {
        background: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.8);
        display: block;
        padding: 3px 0;
        position: static;
        text-align: center;
        text-decoration: none;
        z-index: 10;
    }
    
    .small-box>.small-box-footer:hover {
        background: rgba(0, 0, 0, 0.15);
        color: #fff;
    }
    
    .small-box h3 {
        font-size: 2.2rem;
        font-weight: 700;
        margin: 0 0 10px 0;
        padding: 0;
        white-space: nowrap;
    }
    
    @media (min-width: 992px) {
        .col-lg-2 .small-box h3,
        .col-md-2 .small-box h3,
        .col-xl-2 .small-box h3 {
            font-size: 1.6rem;
        }
        .col-lg-3 .small-box h3,
        .col-md-3 .small-box h3,
        .col-xl-3 .small-box h3 {
            font-size: 1.6rem;
        }
    }
    
    @media (min-width: 1200px) {
        .col-lg-2 .small-box h3,
        .col-md-2 .small-box h3,
        .col-xl-2 .small-box h3 {
            font-size: 2.2rem;
        }
        .col-lg-3 .small-box h3,
        .col-md-3 .small-box h3,
        .col-xl-3 .small-box h3 {
            font-size: 2.2rem;
        }
    }
    
    .small-box p {
        font-size: 1rem;
    }
    
    .small-box p>small {
        color: #f8f9fa;
        display: block;
        font-size: 0.9rem;
        margin-top: 5px;
    }
    
    .small-box h3,
    .small-box p {
        z-index: 5;
    }
    
    .small-box .icon {
        color: rgba(255, 255, 255, 0.15);
        z-index: 0;
    }
    
    .small-box .icon>i {
        font-size: 90px;
        position: absolute;
        right: 15px;
        top: 15px;
        transition: all 0.3s linear;
    }
    
    .small-box .icon>i.fa,
    .small-box .icon>i.fab,
    .small-box .icon>i.far,
    .small-box .icon>i.fas,
    .small-box .icon>i.glyphicon,
    .small-box .icon>i.ion {
        font-size: 70px;
        top: 20px;
    }
    
    .small-box:hover {
        text-decoration: none;
    }
    
    .small-box:hover .icon>i {
        font-size: 95px;
    }
    
    .small-box:hover .icon>i.fa,
    .small-box:hover .icon>i.fab,
    .small-box:hover .icon>i.far,
    .small-box:hover .icon>i.fas,
    .small-box:hover .icon>i.glyphicon,
    .small-box:hover .icon>i.ion {
        font-size: 75px;
    }
    
    @media (max-width: 767.98px) {
        .small-box {
            text-align: center;
        }
        .small-box .icon {
            display: none;
        }
        .small-box p {
            font-size: 12px;
        }
    }


</style>