<template>
  <v-menu
    ref="menu" v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="290px">
    <template v-slot:activator="{ on, attrs }">
        <v-text-field
            v-bind="attrs"
            v-on="on"
            solo
            placeholder="Fecha nacimiento"
            v-model="entidad.fecha_nacimiento"
            readonly
          ></v-text-field>
    </template>
    <v-date-picker
      ref="picker"
      v-model="entidad.fecha_nacimiento"
      :max="new Date().toISOString().substr(0, 10)"
      min="1930-01-01"
      @change="save"
    ></v-date-picker>
  </v-menu>
</template>
<script>
  export default {
    name:'campo-nacimiento',
    props:[
        'entidad',
    ],
    data: () => ({
      menu: false,
      password: 'Password',
      show: false,
      message: 'Hey!',
      marker: true,
      iconIndex: 0,
      icons: [
        'mdi-emoticon',
        'mdi-emoticon-cool',
        'mdi-emoticon-dead',
        'mdi-emoticon-excited',
        'mdi-emoticon-happy',
        'mdi-emoticon-neutral',
        'mdi-emoticon-sad',
        'mdi-emoticon-tongue',
      ],
    }),
     computed: {
      icon () {
        return this.icons[this.iconIndex]
      },
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
    },
    methods: {
      save (date) {
        this.$refs.menu.save(date)
      },
    },
  }
</script>