<template>
    <v-navigation-drawer app v-model="$store.state.drawer"
        mobile-breakpoint="900">
        <nav data-v-e83acb18="" 
            class="elevation-1 v-navigation-drawer v-navigation-drawer--fixed v-navigation-drawer--floating v-navigation-drawer--is-mobile v-navigation-drawer--open theme--light"
            data-booted="true"
            style="height: 100vh; top: 0px; transform: translateX(0%); width: 256px;">
            <div class="v-navigation-drawer__prepend">
                <div data-v-e83acb18="" class="pa-2">
                <div  data-v-e83acb18="" class="title font-weight-bold text-uppercase primary--text">
                    <v-img alt="Ven Logo" class="shrink ml-8" contain src="https://media-exp1.licdn.com/dms/image/C560BAQGBVz-1vEwniQ/company-logo_200_200/0/1526573507395?e=2159024400&v=beta&t=-382QFidbFeVmOD5AyKx7QM6q2Ulz1nAGp64V1bz9uk"
                    transition="scale-transition"
                    width="140"/>
                    <v-divider class="mb-2"></v-divider>
                    <v-avatar size="36" class="ml-2">
                        <img src="https://img2.freepng.es/20180523/tha/kisspng-businessperson-computer-icons-avatar-clip-art-lattice-5b0508dc6a3a10.0013931115270566044351.jpg"
                        alt="perfil"/>
                    </v-avatar>

                    <small v-if="usuario" class="font-weight-black text-capitalize text-truncate text-dark font-weight-bold">
                        {{usuario.nombre}} {{usuario.apellidos}}
                    </small>

                    <v-divider class="mt-2"></v-divider>
                </div>
                </div>
            </div>
            <div class="v-navigation-drawer__content text-dark font-weight-bold">
                <div data-v-e83acb18="" style="margin-top: -20px;"
                        class="v-list v-sheet theme--light v-list--dense v-list--nav">
                    <!-- OPCIONES SUPERIOR  -->
                    <div>
                        <div>
                            <v-list shaped>
                                <router-link to="/">
                                    <v-list-item >
                                        <v-icon class="text-dark font-weight-bold">mdi-home-outline</v-icon>
                                        <v-list-item-title class="ml-2 text-dark font-weight-bold"> Inicio</v-list-item-title>
                                    </v-list-item>
                                </router-link>
                            </v-list>
                        </div>
                    </div>
                    
                    <!-- OPCIONES PRODUCTOS  -->
                    <div>
                        <div class="pa-1 mt-4 overline">MENÚ PRODUCTOS</div>
                        <div>
                            <router-link to="/categorias">
                                <v-list-item class="ml-2">
                                    <v-icon class="text-dark font-weight-bold">mdi-shape-outline</v-icon>
                                    <v-list-item-title class="ml-2 text-dark font-weight-bold"> Categorías</v-list-item-title>
                                </v-list-item>
                            </router-link>
                            <router-link to="/productos">
                                <v-list-item class="ml-2">
                                    <v-icon class="text-dark font-weight-bold">mdi-package-variant</v-icon>
                                    <v-list-item-title class="ml-2 text-dark font-weight-bold"> Productos</v-list-item-title>
                                </v-list-item>
                            </router-link>
                            <router-link to="/agenda">
                                <v-list-item class="ml-2">
                                    <v-icon class="text-dark font-weight-bold">mdi-calendar</v-icon>
                                    <v-list-item-title class="ml-2 text-dark font-weight-bold"> Agenda</v-list-item-title>
                                </v-list-item>
                            </router-link>
                            <!-- ADMINISTRACIÓN USUARIOS -->
                            <v-list-group >
                                <template v-slot:activator>
                                    <v-icon class="text-dark font-weight-bold">mdi-tools</v-icon>
                                    <v-list-item-title class="ml-2 text-dark font-weight-bold">Administración</v-list-item-title>
                                </template>
                                    <router-link to="/usuarios">
                                        <v-list-item class="ml-2">
                                            <v-icon class="text-dark font-weight-bold">mdi-account-group-outline</v-icon>
                                            <v-list-item-title class="ml-2 text-dark font-weight-bold">Usuarios</v-list-item-title>
                                        </v-list-item>
                                    </router-link>
                            </v-list-group>
                        </div>
                    </div>
                </div>
            </div>
            <div class="v-navigation-drawer__append">
                <div  class="pa-1 text-center">

                </div>
                <div class="pa-2 pt-1 text-center">
                    <a  href="#" target="_blank" class=" v-btn v-btn--block v-btn--contained  theme--dark v-size--default" style="background-color: rgb(23, 43, 77); border-color: rgb(23, 43, 77);"><span class="v-btn__content"> AYUDA </span></a>
                </div>
            </div>
            <div class="v-navigation-drawer__border"></div>
        </nav>
        <!-- <p class="text-danger mx-1" >
            Validación de token, 
            si no ves el menú,
            te recomendamos cerrar sesión y loguearte nuevamente.
        </p> -->
    </v-navigation-drawer>
</template>
<script>
    import UserService from '@/services/Usuarios/UserService'
    export default {
        name: "app-menu",
        components: {},
        mounted() {
           this.serv_user.getUsuario().then(resp=>{
                this.usuario=resp.data.usuario
           })
        },
        data: () => ({
            usuario:null,
            serv_user: new UserService(),
        }),
        methods: {
            
        },
    };
</script>

<style>
    a {
        text-decoration: none !important;
    }
    
    .drawer-button[data-v-03db03c5] {
        position: fixed;
        top: 340px;
        right: -20px;
        z-index: 6;
        box-shadow: 1px 1px 18px #e4a;
    }
    
    .drawer-button .v-icon[data-v-03db03c5] {
        margin-left: -18px;
        font-size: 1.3rem;
    }
    
    .app-tile[data-v-c2ffbc8a] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        border-radius: 6px;
        background-color: var(--v-background-base);
        transition: transform 0.2s;
    }
    
    .app-tile[data-v-c2ffbc8a]:hover {
        transform: scale(1.1);
    }
    
    .flag-icon[data-v-7bb95338] {
        height: 22px;
        width: 22px;
    }
    
    .flag-icon.flag-round[data-v-7bb95338] {
        background-size: cover;
        border-radius: 100%;
        height: 26px;
        width: 26px;
    }
    
    .buy-button[data-v-e83acb18] {
        box-shadow: 1px 1px 18px #e4a;
    }
    
    .layout-side[data-v-66bfc24c] {
        width: 420px;
    }
    
    .layout-content[data-v-66bfc24c] {
        max-width: 480px;
    }
    
    .fade-enter-active[data-v-3beeab0e],
    .fade-leave-active[data-v-3beeab0e] {
        transition-duration: 0.2s;
        transition-property: opacity;
        transition-timing-function: ease;
    }
    
    .fade-enter[data-v-3beeab0e],
    .fade-leave-active[data-v-3beeab0e] {
        opacity: 0;
    }
    
    .v-application .d-flex {
        min-width: 0;
    }
    
    .v-application p {
        margin-bottom: 20px;
    }
    
    .v-application .text-number {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
    }
    
    .v-list-item__title {
        font-size: 0.975rem;
        font-weight: 600;
    }
    
    .v-application--is-rtl .v-list-item__action:first-child,
    .v-application--is-rtl .v-list-item__icon:first-child {
        margin-right: 0 !important;
        margin-left: 14px !important;
    }
    
    .v-list-item__action:first-child,
    .v-list-item__icon:first-child {
        margin-right: 14px !important;
    }
    
    .v-list-group__header__append-icon .v-icon {
        font-size: 1rem;
    }
    
    .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
        min-width: 0 !important;
    }
    
    .v-list-item__icon {
        margin: auto;
        justify-content: center;
    }
    
    .v-list-group--sub-group .v-list-group__header {
        padding-left: 8px !important;
    }
    
    .v-list-group__items {
        margin-bottom: 8px;
    }
    
    .v-navigation-drawer__content {
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 0;
        padding: 8px 0;
        background: linear-gradient(#fff 30%, hsla(0, 0%, 100%, 0)), linear-gradient(hsla(0, 0%, 100%, 0), #fff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.06), transparent), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.06), transparent) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 15px, 100% 15px;
        background-attachment: local, local, scroll, scroll;
    }
    
    .theme--dark .v-navigation-drawer__content {
        background: none;
    }
    
    .v-data-table table {
        padding: 4px;
        padding-bottom: 8px;
    }
    
    .v-data-table table th {
        text-transform: uppercase;
        white-space: nowrap;
    }
    
    .v-data-table table td {
        border-bottom: 0 !important;
    }
    
    .v-data-table table tbody tr {
        transition: box-shadow 0.2s, transform 0.2s;
    }
    
    .v-data-table table tbody tr:not(.v-data-table__selected):hover {
        box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
        transform: translateY(-4px);
    }
    
    .v-tabs-items {
        background-color: transparent !important;
    }
    
    .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
        background-color: #273743;
    }
</style>