<template>
    <v-app-bar color="white" elevation="0" light v-if="this.$router.app.$route.name!='Auth'">
        <v-app-bar-nav-icon @click.stop="$store.commit('interruptorMenu')">
        </v-app-bar-nav-icon>
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-icon>mdi-bell-outline</v-icon>
        </v-btn> 
        <v-menu bottom transition="slide-y-transition" offset-y>
            <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>mdi-buffer</v-icon>
                </v-btn>
            </template>
            <v-card width="130px" height="90" :color="'#172b4d'">
                <v-row>
                    <v-col cols="6" class="text-center">
                        <v-btn icon class="white--text">
                            <v-icon>mdi-help-circle</v-icon>
                        </v-btn><br>
                        <small class="white--text">Ayuda</small>
                    </v-col>
                   
                    <v-col cols="6" class="text-center" @click="logout()">
                        <v-btn icon class="white--text">
                            <v-icon>mdi-logout-variant</v-icon>
                        </v-btn><br>
                        <small class="white--text">Salir</small>
                    </v-col>
                </v-row>
            </v-card>
        </v-menu>
    </v-app-bar>
</template>
<script>
    export default {
        name: 'bar-superior',
        methods: {
            logout() {
                localStorage.removeItem('gestor_token');
                this.$router.go(0);
            }
        },
    }
</script>