<template>
    <div class="mx-3">
        <br />
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <p class="m-0 text-dark h1 font-weight-medium">CATEGORÍAS</p>
                    <p class="text-muted"> CATEGORIES</p>
                  </div>
                </div>
            </div>
        </div>
        <v-row>
          <v-col md="4">
            <v-text-field v-model="filter" append-outer-icon="mdi-magnify" placeholder="Buscador"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card elevation="4">
                    <v-col cols="12">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn @click="showModal('CREAR','CATEGORÍA')"  v-bind="attrs" v-on="on" :color="'#548dbf'" class="text-white">
                                <v-icon>mdi-plus</v-icon>
                                Agregar
                                </v-btn>
                            </template>
                            <span>Agregar Categoría</span>
                        </v-tooltip>
                    </v-col>
                    <v-col cols="12" v-if="!loading">
                        <b-table table-class="text-center" fixed responsive hover :items="categorias" :fields="fields" :current-page="current_page" :per-page="per_page"  :filter="filter">
                          <template #cell(#)="row">
                            <v-icon v-if="row.detailsShowing" @click="row.toggleDetails" color="red" dense small>mdi-minus-circle</v-icon>
                            <v-icon v-else @click="row.toggleDetails" color="success" dense small>mdi-plus-circle</v-icon>
                          </template>
                          <template slot="row-details" slot-scope="row" >
                              <b>Descripción:</b>{{row.item.descripcion_categoria}} 
                          </template>
                          <template #cell(opciones)="data">
                              <v-tooltip top>
                              <template v-slot:activator="{ on, attrs }" >
                                  <v-btn @click="showModal('EDITAR','CATEGORÍA',data.item)" v-bind="attrs" v-on="on" small color="primary" >
                                  <v-icon>mdi-square-edit-outline</v-icon>
                                  </v-btn>
                              </template>
                              <span>Editar Categoría</span>
                              </v-tooltip>
                              <v-tooltip top>
                              <template v-slot:activator="{ on, attrs }">
                                  <v-btn @click="showModalSubcategorias(data.item)"  v-bind="attrs" v-on="on" small color="yellow darken-2 white--text" class="mx-1">
                                  <v-icon>mdi-sitemap</v-icon>
                                  </v-btn>
                              </template>
                              <span>Asignar Subcategorías</span>
                              </v-tooltip>
                              <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn @click="deleteCategoria(data.item)" v-bind="attrs" v-on="on" small color="red darken-2 white--text mx-1">
                                    <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                </template>
                                <span>Eliminar Categoría</span>
                              </v-tooltip>
                          </template>
                        </b-table>
                        <div class="mt-3">
                          <h6 class="text-right"><small>Total Registros: <span v-text="rows_todos"></span></small></h6>
                          <v-pagination 
                              v-if="rows_todos" 
                              v-model="current_page" 
                              :total-visible="7" 
                              :length="Math.ceil(rows_todos/per_page)" 
                              align="right">
                          </v-pagination>
                      </div>
                    </v-col>
                    <loader-bars v-else></loader-bars>
                </v-card>
            </v-col>
        </v-row>

        <!-- modal agregar Categoría -->
        <v-dialog v-model="modal_categoria" persistent  transition="dialog-top-transition" max-width="600">
          <v-card>
              <v-toolbar :color="'#548dbf'" dark>{{accion}} {{entidad}}</v-toolbar>
              <v-card-text>
              <v-form v-model="valid" ref="form_categoria" class="mt-5">
                  <!-- nombre  -->
                  <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Nombre</label>
                  <v-text-field v-model="categoria.nombre_categoria" :rules="validacion.requerido" solo placeholder="Nombre"></v-text-field>
                  <!-- codigo  -->
                  <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Código</label>
                  <v-text-field v-model="categoria.codigo_categoria" :rules="validacion.requerido" solo placeholder="Código"></v-text-field>
                  <!-- descripción  -->
                  <label class="font-weight-bold"> Descripción</label>
                  <v-textarea v-model="categoria.descripcion_categoria"  solo label="Descripción"></v-textarea>
              </v-form>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn class="red--text" :disabled="btn_disabled" text @click="hidenModal">Cerrar</v-btn>
                <v-btn color="#548dbf" :disabled="btn_disabled" dark @click="saveOrEdit()">{{accion}}</v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>

        <!-- modal subcategorías  -->
        <v-dialog v-model="modal_subcategorias" persistent  transition="dialog-bottom-transition" max-width="600">
          <v-card>
              <v-toolbar color="#548dbf" dark>Subcategorias de {{categoria_actual.nombre_categoria}}</v-toolbar>
              <v-card-text class="pt-4 px-0 mx-0">
                <v-btn small @click="showModal('CREAR','SUBCATEGORÍA')" color="#548dbf" class="mx-1 text-white">
                  <v-icon>mdi-plus</v-icon>Agregar
                </v-btn>
                <b-table v-if="table_sub" responsive class="text-center" :items="categoria_actual.subcategorias" :fields="fieldsSubcategorias"> 
                    <template #cell(#)="row">
                        <v-icon v-if="row.detailsShowing" @click="row.toggleDetails" color="red" dense small>mdi-minus-circle</v-icon>
                        <v-icon v-else @click="row.toggleDetails" color="success" dense small>mdi-plus-circle</v-icon>
                    </template>
                    <template slot="row-details" slot-scope="row" >
                        <b>Descripción:</b>{{row.item.sub_descripcion}} 
                    </template>
                    <template #cell(opciones)="row">
                        <v-btn icon @click="showModal('EDITAR','SUBCATEGOÍA',row.item)" color="primary"><v-icon>mdi-pencil</v-icon> </v-btn>
                        <v-btn icon @click="deleteSubcategoria(row.index)"><v-icon>mdi-close</v-icon></v-btn>
                    </template>
                </b-table>  
                <br>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn class="red--text" :disabled="btn_disabled" text @click="hidenModalSubcategorias()">Cerrar</v-btn>
                <v-btn color="#548dbf" @click="saveSubcategorias()" :disabled="btn_disabled" dark >Guardar</v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>
    </div>
</template>

<script>
  import Categoria from '@/Models/Categoria';
  import Subcategoria from '@/Models/Subcategoria';
  import RulesValidate from '@/services/RulesValidate'; 
  import CategoriaService from '@/services/Categorias/CategoriaService';
    export default {
        mounted() {
           this.getCategorias();
        },
        data() {
            return {
              accion:'',
              entidad:'',
              valid:false,
              per_page:25,
              filter:null,
              loading: true,
              categorias: [],
              table_sub:true,
              current_page: 1,
              nombre_pivot:null,
              btn_disabled:false,
              categoria_actual:[],
              modal_categoria:false,
              categoria:new Categoria,
              modal_subcategorias:false,
              validacion:new RulesValidate(),
              serv_categoria:new CategoriaService(),
              fields: [
                {key: '#', sortable: true, class:'body-1 font-weight-bold border-0'},
                {key: 'codigo_categoria', label: 'Código', sortable: true , class:'body-1 font-weight-bold border-0 '},
                {key: 'nombre_categoria', label: 'Nombre', sortable: true , class:'body-1 font-weight-bold border-0 '},
                {key: 'opciones', label:"Opciones",class:'text-nowrap column_opcion body-1 font-weight-bold border-0 text-center' }
              ],
              fieldsSubcategorias:[
                  {key: '#', class:'body-1 font-weight-bold border-0'},
                  {key: 'sub_nombre', label: 'Nombre', class:'body-1 font-weight-bold border-0 '},
                  {key: 'sub_codigo', label: 'codigo', class:'body-1 font-weight-bold border-0 '},
                  {key: 'opciones', label:'Opciones',class:'text-nowrap column_opcion body-1 font-weight-bold border-0 '},
              ],
            };
        },
        computed:{
          rows_todos(){
              return this.categorias.length;
          }
        },
        methods: {
            getCategorias(){
              this.serv_categoria.getCategorias().then(resp=>{
                this.categorias=resp.data;
                this.loading = false;
              })
            },
            hidenModal(){
              this.getCategorias();
              this.modal_categoria=false;
            },
            hidenModalSubcategorias(){
              this.getCategorias();
              this.modal_subcategorias=false;
            },
            showModalSubcategorias(categoria){
                this.categoria_actual=categoria;
                this.modal_subcategorias=true;
            },
            showModal(accion,entidad,categoria=null) {
              this.accion=accion;
              this.entidad=entidad;
              // verificamos desde qué entidad llamamos al modal,
              // si desde categorias o desde subcategorias,
              // para saber como se comportará
              if(accion=='EDITAR') {
                if(entidad=='CATEGORÍA'){
                  this.categoria=categoria
                }else{
                  this.nombre_pivot=categoria.sub_nombre;
                  this.categoria.cate_id=categoria.sub_id
                  this.categoria.nombre_categoria=categoria.sub_nombre
                  this.categoria.codigo_categoria=categoria.sub_codigo
                  this.categoria.descripcion_categoria=categoria.sub_descripcion
                }
              }else{
                if(entidad=='CATEGORÍA'){
                  this.categoria=new Categoria;
                }else{
                  this.categoria=new Subcategoria
                }
              }
              this.modal_categoria=true;
            },
            saveOrEdit(){
              if(this.valid){
                this.btn_disabled=true;
                (this.accion=='CREAR') ? this.save() : this.edit();
              }else{
                this.$refs.form_categoria.validate();
                this.btn_disabled=false;
              }
            },
            save(){
              if(this.entidad=='CATEGORÍA'){
                this.serv_categoria.saveCategoria(this.categoria).then(resp=>{
                  this.$swal.fire(resp.message);
                  if(resp.code==200){
                    this.getCategorias();
                    this.$refs.form_categoria.reset();
                    this.modal_categoria=false;
                  }
                  this.btn_disabled=false;
                })
              }else{
                this.categoria_actual.subcategorias.push({
                  'sub_nombre':this.categoria.nombre_categoria,
                  'sub_codigo':this.categoria.codigo_categoria,
                  'sub_descripcion':this.categoria.descripcion_categoria,
                })
                this.modal_categoria=false;
                this.btn_disabled=false;
              }
            },
            edit(){
              if(this.entidad=='CATEGORÍA'){
                this.serv_categoria.editCategoria(this.categoria).then(resp=>{
                  this.$swal.fire(resp.message);
                  if(resp.code==200){
                    this.modal_categoria=false;
                  }
                  this.btn_disabled=false;
                })
              }else{
                this.categoria_actual.subcategorias.forEach((element,idx) => {
                  if(element.sub_nombre==this.nombre_pivot){
                    this.categoria_actual.subcategorias[idx]={
                      'sub_id':this.categoria.cate_id,
                      'sub_nombre':this.categoria.nombre_categoria,
                      'sub_codigo':this.categoria.codigo_categoria,
                      'sub_descripcion':this.categoria.descripcion_categoria,
                    }
                  }
                });
                this.table_sub=false;
                this.modal_categoria=false;
                this.btn_disabled=false;
                setTimeout(() => {
                   this.table_sub=true;
                }, 200);
              }
            },
            deleteCategoria(categoria){
              this.serv_categoria.deleteCategoria(categoria)
              .then(resp=>{
                this.$swal.fire(resp.message);
                if(resp.code==200){
                  this.getCategorias();
                  this.modal_categoria=false;
                }
                  this.btn_disabled=false;
              })
            },
            deleteSubcategoria(idx){
              this.categoria_actual.subcategorias.splice(idx,1);
            },
            saveSubcategorias(){
              this.serv_categoria.saveSubcategorias(this.categoria_actual)
              .then(resp=>{
                this.$swal.fire(resp.message);
                if(resp.code==200){
                  this.getCategorias();
                  this.modal_subcategorias=false;
                }
              })
            }
        },
    };
</script>