<template>
    <div class="mx-3">
        <br />
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <p class="m-0 text-dark h1 font-weight-medium">USUARIOS</p>
                        <p class="text-muted"> USERS</p>
                    </div>
                </div>
            </div>
        </div>
        <v-row>
          <v-col md="4">
            <v-text-field v-model="filter" append-outer-icon="mdi-magnify" placeholder="Buscador"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card elevation="4">
                    <v-col cols="12">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn @click="showModal('CREAR')"  v-bind="attrs" v-on="on" color="#548dbf" class="text-white">
                                <v-icon>mdi-plus</v-icon>
                                Agregar
                                </v-btn>
                            </template>
                            <span>Agregar Usuario</span>
                        </v-tooltip>
                        <v-btn large class="mr-4" @click="exportFile('XLS')" icon><v-icon>mdi-microsoft-excel</v-icon></v-btn>
                        <v-btn large class="mr-4" @click="exportFile('PDF')" icon><v-icon>mdi-file-pdf-outline</v-icon></v-btn>
                    </v-col>
                    <v-col cols="12" v-if="!loading">
                        <b-table table-class="text-center" fixed responsive hover :items="usuarios" :fields="fields" :current-page="current_page" :per-page="per_page"  :filter="filter">
                            <template #cell(#)="row">
                                <v-icon v-if="row.detailsShowing" @click="row.toggleDetails" color="red" dense small>mdi-minus-circle</v-icon>
                                <v-icon v-else @click="row.toggleDetails" color="success" dense small>mdi-plus-circle</v-icon>
                            </template>
                            <template #cell(foto_perfil)="row">
                                <v-avatar size="38"><img :src="(row.item.foto_perfil) ? `${row.item.foto_perfil}` : 'https://img2.freepng.es/20180523/tha/kisspng-businessperson-computer-icons-avatar-clip-art-lattice-5b0508dc6a3a10.0013931115270566044351.jpg'" alt="foto"> </v-avatar>
                            </template>
                            <template slot="row-details" slot-scope="row" >
                                <b>fecha_nacimiento:</b>{{row.item.fecha_nacimiento}} 
                            </template>
                            <template #cell(opciones)="data">
                                <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }" >
                                    <v-btn @click="showModal('EDITAR',data.item)" v-bind="attrs" v-on="on" small color="primary" >
                                    <v-icon>mdi-square-edit-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>Editar usuario</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn @click="deleteUsuario(data.item)" v-bind="attrs" v-on="on" small color="red darken-2 white--text mx-1">
                                        <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Eliminar usuario</span>
                                </v-tooltip>
                            </template>
                        </b-table>
                        <div class="mt-3">
                          <h6 class="text-right"><small>Total Registros: <span v-text="rows_todos"></span></small></h6>
                          <v-pagination 
                              v-if="rows_todos" 
                              v-model="current_page" 
                              :total-visible="7" 
                              :length="Math.ceil(rows_todos/per_page)"
                              align="right">
                          </v-pagination>
                      </div>
                    </v-col>
                    <loader-bars v-else></loader-bars>
                </v-card>
            </v-col>
        </v-row>

         <!-- modal agregar Usuario -->
        <v-dialog v-model="modal_usuario" persistent  transition="dialog-top-transition" max-width="600">
          <v-card>
              <v-toolbar color="#548dbf" dark>{{accion}} USUARIO</v-toolbar>
              <v-card-text>
              <v-form v-model="valid" ref="form_usuario" class="mt-5">
                    <!-- foto perfil  -->
                    <v-row justify="center">
                        <v-avatar size="90">
                            <v-file-input style="display:none" id="inputPerfil" v-model="usuario.foto"  accept=".png, .jpg, .jpeg"  truncate-length="15" @change="updateImagen(usuario)"></v-file-input>
                            <v-img max-height="200" max-width="200" @click="clickInput('inputPerfil')"  :src="(usuario.foto_perfil) ? `${usuario.foto_perfil}` : 'https://img2.freepng.es/20180523/tha/kisspng-businessperson-computer-icons-avatar-clip-art-lattice-5b0508dc6a3a10.0013931115270566044351.jpg'"></v-img>
                        </v-avatar>
                    </v-row>
                    <v-row justify="center">
                        foto perfil
                    </v-row>
                    <!-- nombre  -->
                    <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Nombre</label>
                    <v-text-field v-model="usuario.nombre" :rules="validacion.requerido" solo placeholder="Nombre"></v-text-field>
                    <!-- apellidos  -->
                    <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Apellidos</label>
                    <v-text-field v-model="usuario.apellidos" :rules="validacion.requerido" solo placeholder="Apellidos"></v-text-field>
                    <!-- Nacimiento  -->
                    <label class="font-weight-bold"> Fecha nacimiento</label>
                    <campo-nacimiento :entidad="usuario" ></campo-nacimiento>
                    <!-- email  -->
                    <label class="font-weight-bold"><sup title="obligatorio">
                      <small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> 
                      Email <small v-if="accion=='EDITAR'">(si es un email ya verificado, no se podrá editar)</small>
                    </label>
                    <v-text-field type="email" :disabled="usuario.email_verified_at" v-model="usuario.email" :rules="validacion.email_requerido"  solo label="Email"></v-text-field>
                    <!-- password  -->
                    <span v-if="accion=='CREAR'">
                        <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Password</label>
                        <v-text-field  placeholder="Contraseña" 
                            solo
                            color="#ADB5BD"
                            prepend-inner-icon="mdi-lock"
                            v-model="usuario.password"
                            :counter="6"
                            :type="input_tipo"
                            :rules="validacion.password"
                            :append-icon="input_tipo == 'password' ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="changeInput()"
                        ></v-text-field>
                    </span>
              </v-form>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn class="red--text" :disabled="btn_disabled" text @click="hidenModal">Cerrar</v-btn>
                <v-btn color="#548dbf" :disabled="btn_disabled" dark @click="saveOrEdit()">{{accion}}</v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import Usuario from '@/Models/Usuario';
    import RulesValidate from '@/services/RulesValidate';
    import UserService from '@/services/Usuarios/UserService';
    import CampoNacimiento from '@/components/Campos/CampoNacimiento.vue';
    export default {
        components: {
            CampoNacimiento
        },
        mounted() {
            this.getUsuarios();
        },
        computed:{
            rows_todos(){
                return this.usuarios.length;
            }
        },
        data() {
            return {
                accion:'',
                filter:null,
                valid:false,
                per_page:25,
                usuarios: [],
                loading: true,
                current_page: 1,
                btn_disabled:false,
                usuario:new Usuario,
                modal_usuario:false,
                input_tipo:'password',
                serv_user:new UserService(),
                validacion:new RulesValidate(),
                fields: [
                    {key: '#', sortable: true, class:'body-1 font-weight-bold border-0'},
                    {key: 'foto_perfil', label: 'Foto', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'nombre', label: 'Nombre', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'apellidos', label: 'Nombre', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'email', label: 'Email', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'email_verified_at', label: 'verificado (UTC)', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'opciones', label:"Opciones",class:'text-nowrap column_opcion body-1 font-weight-bold border-0 text-center' }
                ],
            }
        },
        methods: {
            getUsuarios(){
                this.serv_user.getUsuarios().then(resp=>{
                    this.usuarios=resp.data;
                    this.loading = false;
                })
            },
            clickInput(nombre){
                document.getElementById(nombre).click();
            },
            hidenModal(){
                this.getUsuarios();
                this.modal_usuario=false;
            },
            showModal(accion,usuario=null) {
                this.accion=accion;
                if(accion=='EDITAR') {
                    this.usuario=usuario
                }else{
                    this.usuario=new Usuario;
                }
                this.modal_usuario=true;
            },
            saveOrEdit(){
                if(this.valid){
                    this.btn_disabled=true;
                    (this.accion=='CREAR') ? this.save() : this.edit();
                }else{
                    this.$refs.form_usuario.validate();
                    this.btn_disabled=false;
                }
            },
            save(){
                this.serv_user.saveUsuario(this.usuario).then(resp=>{
                    this.$swal.fire(resp.message);
                    if(resp.code==200){
                        this.serv_user.enviarCorreo(resp.data.user_id);
                        this.modal_usuario=false;
                        this.getUsuarios();
                        this.usuario=new Usuario;
                    }
                    this.btn_disabled=false;
                })
            },
            edit(){
                this.serv_user.editUsuario(this.usuario).then(resp=>{
                    this.$swal.fire(resp.message);
                    if(resp.code==200){
                        this.modal_usuario=false;
                    }
                    this.btn_disabled=false;
                })
            },
            deleteUsuario(usuario){
                this.serv_user.deleteUsuario(usuario)
                .then(resp=>{
                    this.$swal.fire(resp.message);
                    if(resp.code==200){
                        this.getUsuarios();
                        this.modal_usuario=false;
                    }
                    this.btn_disabled=false;
                })
            },
            changeInput() {
                this.input_tipo = (this.input_tipo == 'password') ? 'text' : 'password';
            },
            updateImagen(usuario){
                const me=this;
                if(usuario.foto){
                    let reader = new FileReader();
                    reader.readAsDataURL(usuario.foto);
                    reader.onload = function(){
                        me.$set(usuario, 'foto_perfil', reader.result)
                    };
                }else{
                    usuario.foto_perfil=null;
                }
            },
            exportFile(tipo){
                if(tipo=='XLS'){
                    window.open(`${process.env.VUE_APP_API}usuariosXLS`,'_blank');
                }else{
                    window.open(`${process.env.VUE_APP_API}usuariosPDF`,'_blank');
                }
            }
        },
    }
</script>