<template>
  <v-app >
    <loading-app></loading-app>

    <router-view v-if="this.$router.app.$route.name=='Auth'">
        <!-- aqui las vistas de las rutas de autenticacíon -->
    </router-view>

    <v-main v-else>
        <app-menu> </app-menu>
        <bar-superior></bar-superior>
        <router-view fluid>
         <!-- aqui contenido de las vistas -->
        </router-view>
    </v-main>
    
  </v-app>
</template>

<script>
  import AppMenu from './components/Menus/AppMenu.vue';
  import BarSuperior from './components/Menus/BarSuperior';
  import LoadingApp from './components/Shared/LoadingApp';

export default {
  name: 'App',
  components: {
    AppMenu,
    BarSuperior,
    LoadingApp
  },
  data() {
      return {
          
      }
  },
};
</script>
