<template>
    <div class="mx-3">
        <br />
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <p class="m-0 text-dark h1 font-weight-medium">PRODUCTOS</p>
                        <p class="text-muted"> PRODUCTS</p>
                    </div>
                </div>
            </div>
        </div>
        <v-row>
          <v-col md="4">
            <v-text-field v-model="filter" append-outer-icon="mdi-magnify" placeholder="Buscador"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-card elevation="4">
                    <v-col cols="12">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn @click="showModal('CREAR')"  v-bind="attrs" v-on="on" :color="'#548dbf'" class="text-white">
                                <v-icon>mdi-plus</v-icon>
                                Agregar
                                </v-btn>
                            </template>
                            <span>Agregar Producto</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn large class="mr-4"  v-bind="attrs" v-on="on" @click="exportFile('XLS')" icon><v-icon>mdi-microsoft-excel</v-icon></v-btn>
                            </template>
                            <span>Exportar a excel</span>
                        </v-tooltip>
                    </v-col>
                    <v-col cols="12" v-if="!loading">
                        <b-table table-class="text-center" fixed responsive hover :items="productos" :fields="fields" :current-page="current_page" :per-page="per_page"  :filter="filter">
                          <template #cell(#)="row">
                            <v-icon v-if="row.detailsShowing" @click="row.toggleDetails" color="red" dense small>mdi-minus-circle</v-icon>
                            <v-icon v-else @click="row.toggleDetails" color="success" dense small>mdi-plus-circle</v-icon>
                        </template>
                        <template slot="row-details" slot-scope="row" >
                            <b>Descripción:</b>{{row.item.descripcion_producto}} 
                        </template>
                          <template #cell(opciones)="data">
                              <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }" >
                                    <v-btn @click="showModalTarifas(data.item)" class="mr-1" v-bind="attrs" v-on="on" small color="yellow darken-2" >
                                        <v-icon>mdi-cash-multiple</v-icon>
                                    </v-btn>
                                </template>
                                <span>Editar tarifas</span>
                              </v-tooltip>
                              <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }" >
                                    <v-btn @click="showModal('EDITAR',data.item)" v-bind="attrs" v-on="on" small color="primary" >
                                        <v-icon>mdi-square-edit-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>Editar producto</span>
                              </v-tooltip>
                              <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn @click="showModalFotos(data.item)"  v-bind="attrs" v-on="on" small color="cyan white--text" class="mx-1">
                                    <v-icon>mdi-file-image</v-icon>
                                    </v-btn>
                                </template>
                                <span>Cargar fotos</span>
                              </v-tooltip>
                              <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn small v-bind="attrs" v-on="on" @click="exportFile('PDF',data.item.prod_id)"><v-icon>mdi-file-pdf-outline</v-icon></v-btn>
                                </template>
                                <span>Exportar a PDF</span>
                              </v-tooltip>
                              <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn @click="deleteProducto(data.item)" v-bind="attrs" v-on="on" small color="red darken-2 white--text mx-1">
                                    <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                </template>
                                <span>Eliminar producto</span>
                              </v-tooltip>
                          </template>
                        </b-table>
                        <div class="mt-3">
                          <h6 class="text-right"><small>Total Registros: <span v-text="rows_todos"></span></small></h6>
                          <v-pagination 
                              v-if="rows_todos" 
                              v-model="current_page" 
                              :total-visible="7" 
                              :length="Math.ceil(rows_todos/per_page)" 
                              align="right">
                          </v-pagination>
                      </div>
                    </v-col>
                    <loader-bars v-else></loader-bars>
                </v-card>
            </v-col>
        </v-row>
         <!-- modal agregar Producto -->
        <v-dialog v-model="modal_producto" persistent  transition="dialog-top-transition" max-width="600">
          <v-card>
              <v-toolbar color="#548dbf" dark>{{accion}} PRODUCTO</v-toolbar>
              <v-card-text>
              <v-form v-model="valid" ref="form_producto" class="mt-5">
                  <!-- nombre  -->
                  <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Nombre</label>
                  <v-text-field v-model="producto.nombre_producto" :rules="validacion.requerido" solo placeholder="Nombre"></v-text-field>
                  <!-- codigo  -->
                  <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Código</label>
                  <v-text-field v-model="producto.codigo_producto" :rules="validacion.requerido" solo placeholder="Código"></v-text-field>
                  <!-- precio fijo  -->
                  <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Precio fijo</label>
                  <v-text-field type="number" v-model="producto.precio_fijo" :rules="validacion.requerido" solo placeholder="Precio"></v-text-field>
                  <!-- categorías -->
                  <label class="font-weight-bold"><sup title="obligatorio"><small><v-icon color="red" class="caption">mdi-decagram</v-icon></small></sup> Categorías</label>
                  <v-select v-model="categorias" :rules="validacion.requerido" solo dense :items="opc_categrias" multiple></v-select>
                  <!-- subcategorias -->
                  <label class="font-weight-bold"> Subcategorías</label>
                  <v-select v-model="subcategorias" solo dense :items="todas_subcategorias" multiple></v-select>
                  <!-- descripción  -->
                  <label class="font-weight-bold"> Descripción</label>
                  <v-textarea v-model="producto.descripcion_producto"  solo label="Descripción"></v-textarea>
              </v-form>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn class="red--text" :disabled="btn_disabled" text @click="hidenModal">Cerrar</v-btn>
                <v-btn color="#548dbf" :disabled="btn_disabled" dark @click="saveOrEdit()">{{accion}}</v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>

        <!-- modal agregar fotos -->
        <v-dialog v-model="modal_fotos" fullscreen hide-overlay transition="dialog-bottom-transition">
          <v-card>
                <v-toolbar dark :color="'#172b4d'">
                    <v-btn icon dark @click="modal_fotos = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-row align="center" justify="center"> 
                    <v-col class="text-center" cols="6">
                        <h1 class="display-1 font-weight-thin mb-4">
                            <v-card rounded-tl-xl tile  :color="'#293C5B'"  class="rounded">
                                <v-row >
                                    <v-col cols="11" class="text-center white--text">
                                        {{producto.nombre_producto}}
                                    </v-col>
                                </v-row>
                            </v-card>
                        </h1>
                    </v-col>
                </v-row>
                <v-row class="mx-4">
                    <v-col v-for="foto in producto.fotos" :key="foto.foto_id" col="6" md="3">
                        <v-card>
                            <v-img height="200px" :src="foto.url"/>
                        </v-card>
                    </v-col>
                    <v-col cols="6" md="3">
                        <v-card elevation="4">
                            <v-file-input style="display:none" id="inputImg" v-model="foto"  accept=".png, .jpg, .jpeg"  truncate-length="15" @change="updateImagen()"></v-file-input>
                            <v-img @click="clickInput('inputImg')" height="200px" :src="(foto_url)? foto_url :'http://www.pequenomundo.cl/wp-content/themes/childcare/images/default.png'" > 
                                <v-row class="fill-height ma-0" align="center"  justify="center">
                                    Click para subir nueva imagen
                                </v-row>
                            </v-img>
                            <v-card-actions >
                                <v-btn @click="subirFotoProducto" block color="#548dbf">Cargar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
          </v-card>
        </v-dialog>

        <!-- modal Tarifas -->
        <v-dialog v-model="modal_tarifas" persistent  transition="dialog-top-transition" max-width="600">
            <v-card>
              <v-toolbar color="#548dbf" dark>Tarifas de {{producto.nombre_producto}}</v-toolbar>
              <v-card-text class="pt-4 px-0 mx-0">
                <v-btn @click="showModalPrecio('AGREGAR',null)" small color="#548dbf" class="mx-1 text-white">
                  <v-icon>mdi-plus</v-icon>Agregar
                </v-btn>
                <b-table v-if="table_tarifa" responsive class="text-center" :items="producto.tarifas" :fields="fieldsTarifas"> 
                    <template #cell(#)="row">
                        {{row.index+1}}
                    </template>
                    <template #cell(opciones)="row">
                        <v-btn icon @click="showModalPrecio('EDITAR',row)" color="primary"><v-icon>mdi-pencil</v-icon> </v-btn>
                        <v-btn icon @click="deleteTarifa(row.index)"><v-icon>mdi-close</v-icon></v-btn>
                    </template>
                </b-table>  
                <br>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn class="red--text" :disabled="btn_disabled" text @click="hidenModalTarifas()">Cerrar</v-btn>
                <v-btn color="#548dbf" @click="saveTarifas()" :disabled="btn_disabled" dark >Guardar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


         <!-- modal Precios -->
        <v-dialog v-model="modal_precios" persistent  transition="dialog-top-transition" max-width="600">
            <v-card>
              <v-toolbar color="#548dbf" dark>Agregar Tarifa</v-toolbar>
              <v-card-text class="pt-4 px-0 mx-0">
                  <v-col cols="12">
                    <!-- fecha inicio  -->
                    <label for="">Fecha Inicio</label>
                    <v-text-field v-model="tarifa.fecha_inicio" type="date" solo dense></v-text-field>
                    <!-- fecha_fin -->
                    <label for="">Fecha Fin</label>
                    <v-text-field v-model="tarifa.fecha_fin" type="date" solo dense></v-text-field>
                    <!-- precio  -->
                    <label for="">Precio</label>
                    <v-text-field  v-model="tarifa.precio" type="number" solo dense></v-text-field>
                  </v-col>
              </v-card-text>
              <v-card-actions class="justify-end">
                <v-btn class="red--text" :disabled="btn_disabled" text @click="modal_precios=false">Cerrar</v-btn>
                <v-btn color="#548dbf" @click="savePrecio()" :disabled="btn_disabled" dark >Guardar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>

    </div>
</template>
<script>
    import Producto from '@/Models/Producto';
    import Tarifa from '@/Models/Tarifa';
    import RulesValidate from '@/services/RulesValidate';
    import ProductoService from '@/services/Productos/ProductoService';
    import CategoriaService from '@/services/Categorias/CategoriaService';
    export default {
        mounted() {
            this.getProductos();
            this.getCategorias();
        },
        data() {
            return {
                accion:'',
                foto:null,
                filter:null,
                valid:false,
                per_page:25,
                loading: true,
                productos: [],
                categorias:[],
                foto_url:null,
                current_page: 1,
                index_pivot:null,
                subcategorias:[],
                opc_categrias:[],
                modal_fotos:false,
                table_tarifa:true,
                tarifa: new Tarifa,
                btn_disabled:false,
                todas_categorias:[],
                modal_precios:false,
                modal_tarifas:false,
                modal_producto:false,
                producto:new Producto,
                todas_subcategorias:[],
                validacion:new RulesValidate(),
                serv_producto:new ProductoService(),
                serv_categoria:new CategoriaService(),
                fields: [
                    {key: '#', sortable: true, class:'body-1 font-weight-bold border-0'},
                    {key: 'codigo_producto', label: 'Código', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'nombre_producto', label: 'Nombre', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'precio_fijo', label: 'Precio fijo', sortable: true , class:'body-1 font-weight-bold border-0 '},
                    {key: 'opciones', label:"Opciones",class:'text-nowrap column_opcion body-1 font-weight-bold border-0 text-center' }
                ],
                fieldsTarifas:[
                  {key: '#', class:'body-1 font-weight-bold border-0'},
                  {key: 'fecha_inicio', label: 'Inicio', class:'body-1 font-weight-bold border-0 '},
                  {key: 'fecha_fin', label: 'Fin', class:'body-1 font-weight-bold border-0 '},
                  {key: 'precio', label: 'Precio', class:'body-1 font-weight-bold border-0 '},
                  {key: 'opciones', label:'Opciones',class:'text-nowrap column_opcion body-1 font-weight-bold border-0 '},
              ],
            }
        },
        computed:{
            rows_todos(){
                return this.productos.length;
            }
        },
        watch:{
            categorias:function(val){
                this.subcategorias=[];
                this.todas_subcategorias=[];
                val.forEach(cate_id => {
                    let categoria=[];
                    this.todas_categorias.forEach(element => {
                        if(element.cate_id==cate_id){
                            categoria=element;
                        }
                    });
                    categoria.subcategorias.forEach(subcategoria => {
                        this.todas_subcategorias.push({
                            value:subcategoria.sub_id,
                            text:`${subcategoria.sub_nombre} (${categoria.nombre_categoria})`
                        })
                    });
                });
            }
        },
        methods:{
            getCategorias(){
               this.serv_categoria.getCategorias().then(resp=>{
                   resp.data.forEach(element => {
                       this.todas_categorias=resp.data;
                       this.opc_categrias.push({
                           value:element.cate_id,
                           text:element.nombre_categoria,
                           subcategorias:element.subcategorias
                        })
                   });
              }) 
            },
            clickInput(nombre){
                document.getElementById(nombre).click();
            },
            getProductos(){
                this.serv_producto.getProductos().then(resp=>{
                    this.productos=resp.data;
                    this.loading = false;
                })
            },
            hidenModal(){
                this.getProductos();
                this.modal_fotos=false;
                this.modal_producto=false;
            },
            hidenModalTarifas(){
                this.getProductos();
                this.modal_tarifas=false;
            },
            showModal(accion,producto=null) {
                this.accion=accion;
                this.categorias=[];
                this.subcategorias=[];
                if(accion=='EDITAR') {
                    this.producto=producto;
                    // obtenemos las categorías del producto 
                    producto.categorias.forEach(categoria => {
                        this.categorias.push(categoria.cate_id)
                    });
                    // esperamos que los cambios sean escuchados y seteamos sus subcategorías 
                    setTimeout(() => {
                        producto.categorias.forEach(categoria => {
                           const array_sub=categoria.pivot.hijas_ids.split(',');
                           array_sub.forEach(element => {
                               this.subcategorias.push(parseInt(element))
                           });
                       });
                    }, 200);
                }else{
                    this.producto=new Producto;
                }
                this.modal_producto=true;
            },
            saveOrEdit(){
                if(this.valid){
                    this.btn_disabled=true;
                    (this.accion=='CREAR') ? this.save() : this.edit();
                }else{
                    this.$refs.form_producto.validate();
                    this.btn_disabled=false;
                }
            },
            save(){
                this.serv_producto.saveProducto(this.producto,this.categorias,this.subcategorias).then(resp=>{
                    this.$swal.fire(resp.message);
                    if(resp.code==200){
                        this.getProductos();
                        this.$refs.form_producto.reset();
                        this.modal_producto=false;
                    }
                    this.btn_disabled=false;
                })
            },
            edit(){
                this.serv_producto.editProducto(this.producto,this.categorias,this.subcategorias).then(resp=>{
                this.$swal.fire(resp.message);
                if(resp.code==200){
                    this.getProductos();
                    this.modal_producto=false;
                }
                this.btn_disabled=false;
                })
            },
            deleteProducto(producto){
                this.serv_producto.deleteProducto(producto)
                .then(resp=>{
                this.$swal.fire(resp.message);
                if(resp.code==200){
                    this.getProductos();
                    this.modal_producto=false;
                }
                    this.btn_disabled=false;
                })
            },
            showModalFotos(producto){
                this.producto=producto;
                this.modal_fotos=true;
            },
            updateImagen(){
                const me=this;
                if(me.foto){
                    let reader = new FileReader();
                    reader.readAsDataURL(me.foto);
                    reader.onload = function(){
                        me.foto_url=reader.result;
                    };
                }else{
                    me.foto_url=null;
                }
            },
            subirFotoProducto(){
                if(this.foto){
                    this.serv_producto.subirFotoProducto(this.foto,this.producto)
                    .then(resp=>{
                        this.$swal.fire(resp.message)
                        if(resp.code==200){
                            this.actualizarFotos();
                        }
                    })
                }else{
                    this.$swal.fire('Falta foto')
                }
            },
            actualizarFotos(){
                this.serv_producto.getProductos().then(resp=>{
                    resp.data.forEach(element => {
                        if(element.prod_id==this.producto.prod_id){
                            this.producto=element;
                            this.foto_url=null;
                            this.foto=null;
                            this.getProductos();
                        }
                    });
                })
            },
            showModalTarifas(producto){
                this.producto=producto;
                this.modal_tarifas=true;
            },
            showModalPrecio(accion, registro){
                if(accion=='EDITAR') {
                    this.index_pivot=registro.index
                    this.tarifa=registro.item;
                }else{
                    this.tarifa=new Tarifa;
                }
                this.modal_precios=true
            },
            savePrecio(){
                if(this.tarifa.fecha_fin<this.tarifa.fecha_inicio){
                    this.$swal.fire('la fecha fin es menor a la fecha de inicio')
                }else{
                    if(this.conflictoConFechas()){
                        this.$swal.fire('El rango de fechas entra en conflicto con otra ya establecida')
                    }else{
                        this.table_tarifa=false;
                        if(this.index_pivot!=null){
                            this.producto.tarifas[this.index_pivot]=this.tarifa;
                        }else{
                            this.producto.tarifas.push(this.tarifa);
                        }
                        this.modal_precios=false;
                        setTimeout(() => {
                            this.table_tarifa=true;
                            this.index_pivot=null;
                        }, 200);
                    }
                }
            },
            saveTarifas(){
                this.serv_producto.saveTarifas(this.producto)
                .then(resp=>{
                    this.$swal.fire(resp.message);
                    if(resp.code==200){
                        this.$router.go(0)
                    }
                })
            },
            deleteTarifa(idx){
              this.producto.tarifas.splice(idx,1);
            },
            conflictoConFechas(){
                let conflicto=false;
                this.producto.tarifas.forEach((element,idx) => {
                    // verificammos que mis fechas no entren en un rango ya establecido 
                    if( (new Date(element.fecha_inicio)<=new Date(this.tarifa.fecha_inicio)&&
                        new Date(element.fecha_fin)>=new Date(this.tarifa.fecha_inicio)) || 
                        (new Date(element.fecha_inicio)<=new Date(this.tarifa.fecha_fin)&&
                        new Date(element.fecha_fin)>=new Date(this.tarifa.fecha_fin))){
                            if(idx!=this.index_pivot){
                                conflicto=true;
                            }
                    // verificamos que las fechas establecidas no entren en mi rango 
                    }else if(new Date(element.fecha_inicio)>=new Date(this.tarifa.fecha_inicio)&& new Date(element.fecha_inicio)<=new Date(this.tarifa.fecha_fin)){
                        conflicto=true;
                    }
                });
                return conflicto;
            },
            exportFile(tipo,id=null){
                if(tipo=='XLS'){
                    window.open(`${process.env.VUE_APP_API}productosXLS`,'_blank');
                }else{
                    window.open(`${process.env.VUE_APP_API}productoPDF/${id}`,'_blank');
                }
            }
        }
    }
</script>