<template>
  <div class="container-auth">
    <router-view>
      <!-- aqui se muestras las vistas de Auth  -->
    </router-view>
    <div class="ml-2 bg-white ">
    </div>
  </div>
</template>
<style>
    .container-auth {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(255, 255, 255);
    }
</style>