<template>
  <div class="login">
    <nav-auth></nav-auth>
    <br />
    <br />
    <br />
  
    <div class="main-content mb-5">
      <!-- Header -->
      <div class="header d-none d-md-block pb-0 mb-0">
        <div class="container pb-0 mb-0">
          <div class="header-body text-center">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <img
                  width="30%"
                  src="https://f.hubspotusercontent00.net/hubfs/8812300/blob.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <v-container class="mt-0 pt-0">
        <v-row>
          <v-col offset-md="4" cols="12" md="4">
            <div class="card border-0 shadow-lg">
              <div class="card-body">
                <div class="text-center mb-4">
                  <span style="font-size: x-large; color: #2e4780">Registro</span>
                </div>
                <v-form v-model="valid">
                  <!-- nombre  -->
                  <v-text-field v-model="user.nombre" :rules="validacion.requerido" solo placeholder="Nombre"></v-text-field>
                  <!-- apellidos  -->
                  <v-text-field v-model="user.apellidos" :rules="validacion.requerido" solo placeholder="Apellidos"></v-text-field>
                  <!-- Nacimiento  -->
                  <campo-nacimiento :entidad="user" ></campo-nacimiento>
                  <v-text-field placeholder="Email"
                    v-model="user.email"
                    :color="'#ADB5BD'"
                    solo
                    :rules="validacion.email_requerido"
                    prepend-inner-icon="mdi-email"
                  ></v-text-field>
                
                  <v-text-field  placeholder="Contraseña" 
                    solo
                    :color="'#ADB5BD'"
                    prepend-inner-icon="mdi-lock"
                    v-model="user.password"
                    :counter="6"
                    :type="input_tipo"
                    :rules="validacion.password"
                    :append-icon="input_tipo == 'password' ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="changeInput()"
                  ></v-text-field>

                  <div class="text-center mt-3">
                    <v-btn :disabled="disabled" :color="'#548dbf'" @click="register()" class="text-capitalize white--text" block>
                      Registrar
                    </v-btn>
                  </div>
                </v-form>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <!-- modal envio correo -->
    <v-dialog persistent v-model="modal_correo" transition="dialog-top-transition" max-width="400">
      <v-card>
        <v-card-title class="headline">
          ¡Se enviará un correo electrónico para activar la cuenta!
        </v-card-title>
        <br />
        <v-card-text>
          ¿Estas seguro que quieres crear una cuenta con el correo:
          <span class="font-weight-bold h6" v-text="user.email"></span>?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn  color="red" text  @click="modal_correo = false, disabled=false">
            Cancelar
          </v-btn>
          <v-btn color="primary"  @click="confirmation">
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
  </div>
</template>
<script>
    import Usuario from "@/Models/Usuario";
    import AuthService from "@/services/Auth/AuthService";
    import NavAuth from "@/components/Shared/NavAuth";
    import RulesValidate from '@/services/RulesValidate';
    import CampoNacimiento from '@/components/Campos/CampoNacimiento.vue';


    export default {
        components: {
            NavAuth,
            CampoNacimiento
        },
        data() {
            return {
              valid: false,
                disabled:false,
                user: new Usuario,
                modal_correo: false,
                input_tipo: 'password',
                serv_auth: new AuthService(),
                validacion: new RulesValidate(),
            }
        },
        methods: {
            changeInput() {
                this.input_tipo = (this.input_tipo == 'password') ? 'text' : 'password';
            },
            register() {
                this.disabled=true;
                if (this.valid) {
                    this.modal_correo = true;
                } else {
                   this.disabled=false;
                    this.$swal.fire('Campos inválidos')
                }
            },
            confirmation() {
                this.modal_correo = false;
                this.serv_auth.registrar(this.user).then(resp=>{
                  if(resp.code==200){
                      this.serv_auth.enviarCorreo(resp.data.user_id);
                  }else{
                      this.$swal.fire(resp.message);
                  }
              });
            }
        },
    }
</script>
<style>
    .input-group {
        position: relative;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .input-group>.form-control,
    .input-group>.form-control-plaintext,
    .input-group>.custom-select,
    .input-group>.custom-file {
        position: relative;
        width: 1%;
        margin-bottom: 0;
        flex: 1 1 auto;
    }
    
    .input-group>.form-control+.form-control,
    .input-group>.form-control+.custom-select,
    .input-group>.form-control+.custom-file,
    .input-group>.form-control-plaintext+.form-control,
    .input-group>.form-control-plaintext+.custom-select,
    .input-group>.form-control-plaintext+.custom-file,
    .input-group>.custom-select+.form-control,
    .input-group>.custom-select+.custom-select,
    .input-group>.custom-select+.custom-file,
    .input-group>.custom-file+.form-control,
    .input-group>.custom-file+.custom-select,
    .input-group>.custom-file+.custom-file {
        margin-left: -1px;
    }
    
    .input-group>.form-control:focus,
    .input-group>.custom-select:focus,
    .input-group>.custom-file .custom-file-input:focus~.custom-file-label {
        z-index: 3;
    }
    
    .input-group>.custom-file .custom-file-input:focus {
        z-index: 4;
    }
    
    .input-group>.form-control:not(:last-child),
    .input-group>.custom-select:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .input-group>.form-control:not(:first-child),
    .input-group>.custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .input-group>.custom-file {
        display: flex;
        align-items: center;
    }
    
    .input-group-text {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        display: flex;
        margin-bottom: 0;
        padding: 0.625rem 0.75rem;
        text-align: center;
        white-space: nowrap;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 0.25rem;
        background-color: #fff;
        align-items: center;
    }
    
    .input-group {
        transition: all 0.15s ease-in-out;
        border-radius: 0.25rem;
        box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
    }
    
    @media (prefers-reduced-motion: reduce) {
        .input-group {
            transition: none;
        }
    }
    
    .input-group .form-control {
        box-shadow: none;
    }
    
    .input-group .form-control:focus {
        box-shadow: none;
    }
    
    .input-group-text {
        transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    @media (prefers-reduced-motion: reduce) {
        .input-group-text {
            transition: none;
        }
    }
    
    .input-group-text i {
        font-size: 0.875rem;
    }
    
    .input-group-text .custom-control {
        line-height: 1;
    }
    
    .input-group-prepend .input-group-text {
        border-right: 0;
    }
    
    .input-group-append .input-group-text {
        border-left: 0;
    }
    
    .input-group-merge .form-control:not(:first-child) {
        padding-left: 0;
        border-left: 0;
    }
    
    .input-group-merge .form-control:not(:last-child) {
        padding-right: 0;
        border-right: 0;
    }
    
    .input-group-alternative {
        transition: box-shadow 0.15s ease;
        border: 0;
        box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    }
    
    .input-group-alternative .form-control,
    .input-group-alternative .input-group-text {
        border: 0;
        box-shadow: none;
    }
    
    .focused .input-group-alternative {
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    }
    
    .input-group-flush {
        box-shadow: none;
    }
    
    .input-group-flush>.form-control {
        padding: 0;
        border-width: 0;
        background-color: transparent;
    }
    
    .input-group-flush>.input-group-prepend>.input-group-text,
    .input-group-flush>.input-group-append>.input-group-text {
        padding: 0;
        padding-right: 1rem;
        border-width: 0;
        background-color: transparent;
    }
</style>